.app {
	display: flex;
	background: url('/background.wide.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.appTemplate {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;
	display: grid;
	padding: 15px;
	width: 100%;

	grid-template-rows: 120px 1fr;
	grid-template-columns: 275px 1fr;
	grid-template-areas:
			"menu header"
			"menu content";
}

.content {
	grid-area: content;
}