.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.description {
    text-align: justify;
    padding: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.textAreaResp{
    width: 100%;
}

.textAreaResp textarea {
    border: none;
    outline: none;

    padding: 8px;

    text-align: justify;
    line-height: 1.25rem;
    resize: none;

    width: 100%;
}

.containerResp {
    display: flex;
    flex-direction: column;

    background: #d3d3d3;
    width: 80%;

    border: none;
    outline: none;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.25rem;
    resize: none;

    margin: 10px;
    padding: 1rem;
}

.resp {
    display: flex;
    justify-content: space-between;
    width: 100%;

    text-align: justify;
    padding: 0 0 5px 5px;
}

.respDescription {
    padding-right: 10px;
    text-align: justify;
    width: 100%;
}

.containerResp p {
    color: var(--dark-gray-text)
}

.containerComments {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerNewComment {
    display: flex;
    width: 100%;
}

.containerTextAreaComment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.containerTextAreaComment textarea {
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 8px;
    text-align: justify;
    line-height: 1.25rem;
    resize: none;
}

.btnTextSendCom {
    width: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 50px;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.containerBtnLike {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10px;
    /* border: solid 1px;
    border-radius: 10px; */

    width: 100px;
}

.containerBtnLike span {
    margin: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.containerBtnLike button {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 40px; */
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
