.home{
    padding: 10px;
    overflow-y: auto;
}

.description {
    color: var(--dark-gray-text);
    width: 350px;
}

.cardContent {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picture img{
    height: 180px;
}