.nav_menu {
    background-image: linear-gradient(to right, var(--light-orange), var( --yellow));
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8px var(--black50);
    border-radius: 15px 0px 0px 15px ;
    overflow: hidden;
    z-index: 1;

    grid-area: menu;
}

.nav_menu_img{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px ;
    width: 250px;
    top: 10px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 50px;
}

.nav_text {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    margin: 0;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-image: linear-gradient(to right, #ffffff00,  #ffffff80, #ffffff00);
    border-image-slice: 1;
}

.nav_text li {
    color: var(--black);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
}

.nav_text img {
    margin-left: -20px; 
    margin-right: 10px;
}

.nav_text:hover {
    background-color: var(--brown-selected);
}

.nav_text:hover li{
    color: var(--light-yellow);
}

.nav_text:hover img {
    filter: invert(100%) sepia() saturate(720%) hue-rotate(0deg);
}

.selected {
    background-color: var(--dark-brown-selected);
}

.selected img {
    filter: invert(100%) sepia() saturate(720%) hue-rotate(0deg);
}

.selected li {
    color: var(--light-yellow);
}

.nav_menu_items {
    width: 100%;
}
